* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

@media only screen and (max-width:768px) {


    /*    NAV BAR*/

    #main-nav-container {
        background-color: rgb(0, 0, 0, 0.9);
        position: static;
        /*    border-radius: 0px 0px 15px 15px;*/
    }

    #nav-list-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav-items {
        /*        border: 1px solid red;*/
        list-style: none;
        line-height: 50px;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0px 10px;
        text-align: center;
    }

    #nav-item-1 {
        flex: 1;
    }

    #nav-item-2 {
        flex: 4;
        text-align: end;
    }

    #nav-item-3 {
        flex: 1;
    }

    .nav-links {
        color: #fff;
        text-decoration: none;
    }

    /*    ICONS */

    .material-icons-outlined {
        vertical-align: middle;
    }

    .material-icons-outlined.color {
        color: #a7b3be;
    }


    /*    MAIN*/

    .main-container {
        background-color: #FFF;
        padding: 5px;
    }

    .image-container {
        width: 100%;
        text-align: center;
        margin: 25px auto;
    }

    .image {
        width: 90vw;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    .image-caption {
        /*        border: 1px solid red;*/
        font-size: 14px;
        color: #757575;
        line-height: 20px;
    }

    .image-caption-links {
        /*        border: 1px solid red;*/
        color: #757575;
        text-decoration: underline;
    }

    /*    MAIN HEADING AND TEXT*/
    #heading-box {
        /*        border: 1px solid red;*/
        max-width: 90vw;
        margin: 15px auto;
        box-sizing: border-box;
    }

    #heading {
        /*        border: 1px solid red;*/
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.5px;
    }

    #read-time {
        color: #757575;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
    }

    .sub-heading-box {
        width: 90vw;
        margin: 15px auto 5px;
        padding: 2px 0px 0px;
        box-sizing: border-box;
    }

    .sub-heading {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .main-text-box {
        width: 90vw;
        margin: 3px auto;
        padding: 5px 3px;
        box-sizing: border-box;
        text-align: left;
    }

    .main-text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.2px;
    }

    .main-text-link {
        color: inherit;
        text-decoration: underline;
    }

    .main-text-list {
        /*        border: 1px solid red;*/
        box-sizing: border-box;
        width: 100%;
        padding-left: 5vw;
    }

    /*    MAIN-TEXT-BREAKERS*/
    .main-text-breakers {
        border: 0px;
        /*        border: 1px solid red;*/
        margin: 7px auto;
    }
    
    .text-quote {
        box-sizing: border-box;
        border-left: 4px solid #000;
        padding-left: 10px;
        font-weight: 600;
    }


    /*    SECTION BREAKERS*/

    .section-breakers {
        border: 0px;
        margin: 30px auto;
        text-align: center;
        letter-spacing: 7px;
        font-weight: 600;
    }

    .section-breakers:after {
        content: "..."
    }
    
/*    STYLING*/
    
    .dotted {
        list-style: disc;
    }
    
    .und {
        text-decoration: underline;
    }
    
    .bold {
        font-weight: 600;
    }
    
    .em {
        font-style: italic
    }

    /*    WRITER'S BOX*/

    #writers-box {
        margin: 0px -15px;
        padding: 10px;
        /*        border: 1px solid red;*/
        border-radius: 7px;
        background: rgb(0, 0, 0, 0.2);
        box-sizing: border-box;
        box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);
    }

    #writers-box #written-by {
        /*        border: 1px solid red;*/
        padding: 0px 0px 3px;
        color: #272727;
    }

    #writers-box a {
        /*        border: 1px solid red;*/
        vertical-align: middle;
        margin: 0px 0px 20px;
    }

    #writers-box .writer-name-link {
        color: green;
        text-decoration: underline;
        line-height: 20px;
    }


    .writer-image {
        max-width: 15%;
        border: 3px solid green;
        border-radius: 50%;
    }


    /*    SUBSCRIPTION BOX */

    #subscription-box {
        margin: 15px -15px 0px;
        padding: 10px 10px 10px 0px;
/*        border: 1px solid red;*/
        border-radius: 7px;
        background: rgb(0, 0, 0, 0.2);
        box-sizing: border-box;
        box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0, 0.3);
        text-align: center;
    }

    #subscribe-link {
        color: #000;
        font-size: 20px;
        font-weight: 900;
        font-family: 'Scope One';
    }

    .material-icons {
        vertical-align: middle;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.color {
        color: #000;
    }

}
